@page "/Admin/Languages"
@inherits ListPageBase<Language, LanguageRepository, LanguageFilter>

<PageTitle>Languages</PageTitle>

<FluentStack HorizontalAlignment="HorizontalAlignment.End" Class="mb-2">
    <FluentAnchorButton Href="/Admin/Users/Create"
                  IconStart="@(new Icons.Regular.Size20.PersonAdd())"
                  Appearance="ButtonAppearance.Primary">
        New Language
    </FluentAnchorButton>
</FluentStack>

<div class="row">
    <div class="col-lg-3 col-sm-12 order-lg-3 mb-3">
        <FluentCard>
            <FluentText Size="TextSize.Size600">@AppLocalizer.LABEL_SEARCH_FILTER</FluentText>

            <EditForm Model="Filter" OnValidSubmit="async () => await LoadAsync(true)">
                <FluentStack Orientation="Orientation.Vertical">
                    <FluentTextInput @bind-Value="Filter.SearchPhrase" Immediate="true" Label="@AppLocalizer.LABEL_SEARCHPHRASE" Placeholder="Name, E-Mail" Autofocus />

                    <div class="d-flex justify-content-end mt-2 w-100">
                        <FluentButton Type="ButtonType.Submit" IconStart="@(new Icons.Regular.Size20.Search())"
                                      Appearance="ButtonAppearance.Primary">
                            @AppLocalizer.BUTTON_SEARCH
                        </FluentButton>
                    </div>
                </FluentStack>
            </EditForm>
        </FluentCard>
    </div>
    <div class="col-lg-9">
        <FluentStack Orientation="Orientation.Vertical">

            @if (_isLoading || Data is null)
            {
                <FluentSpinner />
            }
            else
            {
                @foreach (var item in Data.Items)
                {
                    <div class="list">
                        <div class="list-details">
                            <div class="list-item" hidden-when="xs sm">
                                <label>@AppLocalizer.LABEL_ID</label>
                                <span>@item.LanguageId</span>
                            </div>
                            <div class="list-item">
                                <label>Code</label>
                                <span>@item.Code</span>
                            </div>
                        </div>
                        <div class="list-buttons">
                            <FluentAnchorButton Href="@($"/Admin/Users/Edit?Id={item.GetIdentifier()}")">
                                Bearbeiten
                            </FluentAnchorButton>
                        </div>
                    </div>
                }

                @if (!_isLoading && !Data.Items.Any())
                {
                    <div class="list justify-content-center">
                        Keine Datensätze
                    </div>
                }

                <Pagination CurrentPageNumber="Page"
                            TotalItems="Data.Total"
                            ItemsPerPage="Filter.Limit"
                            NavUrl="/Admin/Users?page=" />

            }
        </FluentStack>
    </div>
</div>
