@namespace BlazorForms.Web.Components
@using BlazorForms.Domain.Entities.Elements
@using BlazorForms.Domain.Entities
@inject IDialogService DialogService
<SectionContent SectionName="additional-css">
    <link rel="stylesheet" href="@Assets["/assets/css/form-editor.css"]" />
</SectionContent>

<div class="form-editor">
    <div class="form-editor-appbar">
        <FluentAppBar Orientation="Orientation.Horizontal" Style="width: 100%; justify-content: space-around;">
            <FluentAppBarItem IconRest="@(new Icons.Regular.Size20.ArrowHookDownLeft())"
                              Text="Close"
                              OnClick="CloseItemAsync" />
            <FluentAppBarItem IconRest="@(new Icons.Regular.Size20.DocumentSettings())"
                              Text="Form settings"
                              OnClick="() => _editFormProperties = true" />
            <FluentAppBarItem IconRest="WhatsNewIcon()"
                              Text="What's New"
                              OnClick="ShowSuccessAsync" />
            <FluentAppBarItem IconRest="IconsIcon()"
                              Text="Icons"
                              OnClick="ShowWarningAsync" />
            <FluentAppBarItem IconRest="DialogIcon()"
                              Text="Dialog" />
        </FluentAppBar>
    </div>
    <div class="form-editor-wrapper">
        @if (_selectedFormElement is not null && !_editFormProperties)
        {
            <div class="form-element-editor">
                <FluentTabs>
                    <FluentTab Label="General">
                        <FluentTextField Value="@_selectedFormElement.GetElementType().ToString()" Label="Element type" ReadOnly />

                        <FluentTextField @bind-Value="_selectedFormElement.Name" Label="Name" Required Immediate />

                        <div class="d-flex flex-column gap-2 mt-2 mb-2">
                            @if (_selectedFormElement is not FormLabelElement)
                            {
                                <FluentCheckbox @bind-Value="_selectedFormElement.IsRequired" Label="Required field" />
                            }
                            <FluentCheckbox @bind-Value="_selectedFormElement.ResetOnCopy" Label="Reset when copying the form entry" />
                            <FluentCheckbox @bind-Value="_selectedFormElement.IsActive" Label="Active" />
                        </div>

                        @if (_selectedFormElement is FormTextElementBase textElement)
                        {
                            <label class="fluent-input-label" for="textelement-minlength">Min length</label>
                            <InputNumber @bind-Value="textElement.TextMinLength" class="fluent-control" id="textelement-minlength" />

                            <label class="fluent-input-label" for="textelement-maxlength">Max length</label>
                            <InputNumber @bind-Value="textElement.TextMaxLength" class="fluent-control" id="textelement-maxlength" />

                            <FluentTextArea @bind-Value="textElement.RegexPattern" Label="Regex pattern" Immediate />

                            <FluentTextField @bind-Value="textElement.RegexValidationMessage" Label="Regex error message" />
                        }

                    </FluentTab>
                </FluentTabs>
            </div>
        }
        else if (_editFormProperties)
        {
            <div class="form-element-editor">
                <FluentTabs>
                    <FluentTab Label="General">
                        <FluentTextField @bind-Value="_testForm.Name" Label="Name" Required />

                        <FluentTextField @bind-Value="_testForm.DefaultName" Label="Default name" />

                        <InputCkEditor @bind-Value="_testForm.Description" Label="Description" />
                    </FluentTab>
                    <FluentTab Label="Permissions">

                    </FluentTab>
                    <FluentTab Label="Manager">

                    </FluentTab>
                    <FluentTab Label="Logo">

                    </FluentTab>
                    <FluentTab Label="Image">

                    </FluentTab>
                </FluentTabs>
            </div>
        }
        else
        {
            <div class="delete-wrapper delete-wrapper-mobile @GetDeleteWrapperClass()">
                <div class="delete-zone"
                     ondragover="event.preventDefault();"
                     ondragstart="event.dataTransfer.setData('', event.target.id);"
                     @ondrop="() => DropDelete()">
                    <FluentIcon Value="@(new Icons.Regular.Size32.Delete())" Color="Color.Error" />
                </div>
            </div>

            <FluentDragContainer TItem="FormRow" OnDropEnd="OnRowDropEnd" OnDragStart="OnRowDragStart" Class="dropzone">
                <FluentDragContainer TItem="FormColumn" OnDropEnd="OnColumnDropEnd" OnDragStart="OnColumnDragStart" Class="dropzone">
                    <FluentDragContainer TItem="FormElementBase" OnDropEnd="OnDropElement" OnDragStart="OnElementDragStart" Class="dropzone form-editor-grid">
                        <div class="form-editor-content">
                            @foreach (var row in _testForm.Rows)
                            {
                                <FluentDropZone StopPropagation="true" Item="row" Class="form-row" Draggable="true" Droppable="true">
                                    <span>Row: @row.RowId</span>
                                    @if (row.Columns.Count == 0)
                                    {
                                        <FluentDropZone StopPropagation="true" Data="@row" TItem="FormColumn" Class="empty-zone" Draggable="false" Droppable="true" />
                                    }
                                    else
                                    {
                                        @foreach (var column in row.Columns)
                                        {
                                            <FluentDropZone StopPropagation="true" Item="column" Data="@row" Class="form-column form-editor-flex" Draggable="true" Droppable="true">
                                                <span>Column: @column.ColumnId</span>
                                                @if (column.Elements.Count == 0)
                                                {
                                                    <FluentDropZone StopPropagation="true" Data="@column" TItem="FormElementBase" Class="empty-zone" Draggable="false" Droppable="true" />
                                                }
                                                else
                                                {
                                                    @foreach (var element in column.Elements)
                                                    {
                                                        <FluentDropZone StopPropagation="true" Item="element" Data="@column" Class="form-element" Draggable="true" Droppable="true">
                                                            <span>[@element.GetElementType()] @element.Name</span>
                                                            <FluentButton OnClick="async () => await OpenFormElementAsync(element)" IconEnd="@(new Icons.Regular.Size20.Edit())" />
                                                        </FluentDropZone>
                                                    }
                                                }
                                            </FluentDropZone>
                                        }
                                    }
                                </FluentDropZone>
                            }
                        </div>
                        <div class="toolbar-wrapper">
                            <h4>Toolbar</h4>
                            <ul id="element-toolbar">
                                @foreach (var element in ToolbarElements)
                                {
                                    <li class="toolbar-element">
                                        <FluentDropZone StopPropagation="true" Item="element" OnDragStart="(e) => _dragFromToolbar = true" TItem="FormElementBase" Draggable="true" Droppable="false">
                                            @element.GetElementType()
                                        </FluentDropZone>
                                    </li>
                                }
                            </ul>
                        </div>
                    </FluentDragContainer>
                </FluentDragContainer>
            </FluentDragContainer>
        }
    </div>
</div>




