@page "/Admin/Users/Create"
@inherits CreatePageBase<User, UserRepository, int?>
<PageTitle>@Localizer.CREATE_PAGE_TITLE</PageTitle>

@if (Input is null)
{
    return;
}

<FluentStack HorizontalAlignment="HorizontalAlignment.End">
    <FluentAnchorButton Href="/Admin/Users"
                        Appearance="ButtonAppearance.Subtle"
                        IconStart="@(new Icons.Regular.Size20.ArrowReply())">
        @AppLocalizer.BUTTON_BACK
    </FluentAnchorButton>

    <FluentButton IconStart="@(new Icons.Regular.Size20.Save())"
                  Appearance="ButtonAppearance.Primary"
                  OnClick="SaveAsync">
        @AppLocalizer.BUTTON_SAVE
    </FluentButton>
</FluentStack>

<EditForm Model="Input" @ref="_form">
    @if (ActiveDirectoryMode)
    {
        <FluentMessageBar Title="Hinweis:" Intent="@MessageBarIntent.Warning" AllowDismiss="false" Class="mb-2 mt-2" FadeIn="false">
            @Localizer.MESSAGE_ACTIVE_DIRECTORY_CONNECTED_ACCOUNT
        </FluentMessageBar>
    }

    <FluentTabs>
        <FluentTab Header="@Localizer.TAB_GENERAL">
            <div class="row">
                <div class="col-md-9">
                    @if (ActiveDirectoryMode)
                    {
                        <FluentTextInput Value="@(Input.ActiveDirectoryGuid?.ToString() ?? string.Empty)" Label="@Localizer.LABEL_ACTIVE_DIRECTORY_GUID" Disabled="true" />
                    }

                    <FluentTextInput @bind-Value="Input.Username" Label="@Localizer.LABEL_USERNAME" Disabled="ActiveDirectoryMode" />
                    <ValidationMessage For="() => Input.Username" />

                    @if (!ActiveDirectoryMode)
                    {
                        <FluentTextInput @bind-Value="Input.Password" Label="@Localizer.LABEL_PASSWORD" />
                        <ValidationMessage For="() => Input.Password" />
                    }

                    <FluentSelect @bind-SelectedOption="Input.UserGroupId"
                                  Label="@Localizer.LABEL_USER_GROUP"
                                  Items="Enum.GetValues<UserGroup>()" />
                    <ValidationMessage For="() => Input.UserGroupId" />

                    <FluentTextInput @bind-Value="Input.DisplayName" Label="@Localizer.LABEL_DISPLAY_NAME" Disabled="ActiveDirectoryMode" />
                    <ValidationMessage For="() => Input.DisplayName" />

                    <FluentTextInput @bind-Value="Input.Email" Label="@Localizer.LABEL_EMAIL" Disabled="ActiveDirectoryMode" />
                    <ValidationMessage For="() => Input.Email" />
                </div>
            </div>
        </FluentTab>
    </FluentTabs>
</EditForm>

