@page "/Admin/Users/Create"
@inherits CreatePageBase<User, UserRepository, int?>
<PageTitle>@Localizer.CREATE_PAGE_TITLE</PageTitle>

<FluentBreadcrumb>
    <FluentBreadcrumbItem Href="/">@AppLocalizer.BREADCRUMB_HOME</FluentBreadcrumbItem>
    <FluentBreadcrumbItem>@AppLocalizer.BREADCRUMB_ADMINISTRATION</FluentBreadcrumbItem>
    <FluentBreadcrumbItem Href="/Admin/Users">@Localizer.BREADCRUMB_LIST</FluentBreadcrumbItem>
    <FluentBreadcrumbItem>@AppLocalizer.BREADCRUMB_NEW</FluentBreadcrumbItem>
</FluentBreadcrumb>

@if (Input is null)
{
    return;
}

<FluentStack HorizontalAlignment="HorizontalAlignment.End">
    <FluentAnchor Href="/Admin/Users"
                  IconStart="@(new Icons.Regular.Size20.ArrowReply())">
        @AppLocalizer.BUTTON_BACK
    </FluentAnchor>

    <FluentButton IconStart="@(new Icons.Regular.Size20.Save())"
                  Appearance="Appearance.Accent"
                  OnClick="SaveAsync">
        @AppLocalizer.BUTTON_SAVE
    </FluentButton>
</FluentStack>

<EditForm Model="Input" @ref="_form">
    @if (ActiveDirectoryMode)
    {
        <FluentMessageBar Title="Hinweis:" Intent="@MessageIntent.Warning" AllowDismiss="false" Class="mb-2 mt-2" FadeIn="false">
            @Localizer.MESSAGE_ACTIVE_DIRECTORY_CONNECTED_ACCOUNT
        </FluentMessageBar>
    }
    <FluentTabs>
        <FluentTab Label="@Localizer.TAB_GENERAL">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        @if (ActiveDirectoryMode)
                        {
                            <div class="col-12">
                                <FluentTextField Value="@(Input.ActiveDirectoryGuid?.ToString() ?? string.Empty)" Label="@Localizer.LABEL_ACTIVE_DIRECTORY_GUID" Disabled />
                            </div>
                        }

                        <div class="col-12">
                            <FluentTextField @bind-Value="Input.Username" Label="@Localizer.LABEL_USERNAME" Disabled="ActiveDirectoryMode" />
                            <FluentValidationMessage For="() => Input.Username" />
                        </div>

                        @if (!ActiveDirectoryMode)
                        {
                            <div class="col-12">
                                <FluentTextField @bind-Value="Input.Password" Label="@Localizer.LABEL_PASSWORD" />
                                <FluentValidationMessage For="() => Input.Password" />
                            </div>
                        }

                        <div class="col-12">
                            <FluentSelect @bind-SelectedOption="Input.UserGroupId"
                                          Label="@Localizer.LABEL_USER_GROUP"
                                          Items="Enum.GetValues<UserGroup>()" />
                            <FluentValidationMessage For="() => Input.UserGroupId" />
                        </div>

                        <div class="col-12">
                            <FluentTextField @bind-Value="Input.DisplayName" Label="@Localizer.LABEL_DISPLAY_NAME" Disabled="ActiveDirectoryMode" />
                            <FluentValidationMessage For="() => Input.DisplayName" />
                        </div>

                        <div class="col-12">
                            <FluentTextField @bind-Value="Input.Email" Label="@Localizer.LABEL_EMAIL" Disabled="ActiveDirectoryMode" />
                            <FluentValidationMessage For="() => Input.Email" />
                        </div>
                    </div>
                </div>
            </div>
        </FluentTab>
    </FluentTabs>
</EditForm>

