@page "/Admin/Users/Create"
@inherits CreatePageBase<User, UserRepository, int?>
<PageTitle>Neuer Benutzer</PageTitle>

<FluentBreadcrumb>
    <FluentBreadcrumbItem Href="/">@AppLocalizer.BREADCRUMB_HOME</FluentBreadcrumbItem>
    <FluentBreadcrumbItem>@AppLocalizer.BREADCRUMB_ADMINISTRATION</FluentBreadcrumbItem>
    <FluentBreadcrumbItem Href="/Admin/Users">Benutzer</FluentBreadcrumbItem>
    <FluentBreadcrumbItem>@AppLocalizer.BREADCRUMB_NEW</FluentBreadcrumbItem>
</FluentBreadcrumb>

@if (Input is null)
{
    return;
}

<FluentStack HorizontalAlignment="HorizontalAlignment.End">
    <FluentAnchor Href="/Admin/Users"
                  IconStart="@(new Icons.Regular.Size20.ArrowReply())">
        @AppLocalizer.BUTTON_BACK
    </FluentAnchor>

    <FluentButton IconStart="@(new Icons.Regular.Size20.Save())"
                  Appearance="Appearance.Accent"
                  OnClick="SaveAsync">
        @AppLocalizer.BUTTON_SAVE
    </FluentButton>
</FluentStack>

<EditForm Model="Input" @ref="_form">
    @if (ActiveDirectoryMode)
    {
        <FluentMessageBar Title="Hinweis:" Intent="@MessageIntent.Warning" AllowDismiss="false" Class="mb-2 mt-2" FadeIn="false">
            Dieses Konto ist mit dem Active Directory verknüpft. Sie können daher nicht alle Eigenschaften bearbeiten.
        </FluentMessageBar>
    }

    <FluentTabs>
        <FluentTab Label="Allgemein">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        @if (ActiveDirectoryMode)
                        {
                            <div class="col-12">
                                <FluentTextField Value="@(Input.ActiveDirectoryGuid?.ToString() ?? string.Empty)" Label="ActiveDirectoryGuid" Disabled />
                            </div>
                        }

                        <div class="col-12">
                            <FluentTextField @bind-Value="Input.Username" Label="Username" Disabled="ActiveDirectoryMode" />
                            <FluentValidationMessage For="() => Input.Username" />
                        </div>

                        @if (!ActiveDirectoryMode)
                        {
                            <div class="col-12">
                                <FluentTextField @bind-Value="Input.Password" Label="Passwort" />
                                <FluentValidationMessage For="() => Input.Password" />
                            </div>
                        }

                        <div class="col-12">
                            <FluentSelect @bind-SelectedOption="Input.UserGroupId"
                                          Label="Benutzergruppe"
                                          Items="Enum.GetValues<UserGroup>()" />
                            <FluentValidationMessage For="() => Input.UserGroupId" />
                        </div>

                        <div class="col-12">
                            <FluentTextField @bind-Value="Input.DisplayName" Label="Anzeigename" Disabled="ActiveDirectoryMode" />
                            <FluentValidationMessage For="() => Input.DisplayName" />
                        </div>

                        <div class="col-12">
                            <FluentTextField @bind-Value="Input.Email" Label="E-Mail" Disabled="ActiveDirectoryMode" />
                            <FluentValidationMessage For="() => Input.Email" />
                        </div>
                    </div>
                </div>
            </div>
        </FluentTab>
    </FluentTabs>
</EditForm>

