@page "/Admin/Users"
@inherits ListPageBase<User, UserRepository, UserFilter>

<PageTitle>@Localizer.LIST_PAGE_TITLE</PageTitle>

<FluentStack HorizontalAlignment="HorizontalAlignment.End" Class="mb-2" HorizontalGap="@FluentConstants.FLUENTSTACK_HORIZONTAL_GAP">
    <FluentAnchorButton Href="/Admin/Users/Create"
                        IconStart="@(new Icons.Regular.Size20.PersonAdd())"
                        Appearance="ButtonAppearance.Primary">
        @Localizer.BUTTON_NEW_USER
    </FluentAnchorButton>
</FluentStack>

<div class="row">
    <div class="col-lg-3 col-sm-12 order-lg-3 mb-3">
        <FluentCard>
            <FluentText Size="TextSize.Size600">@AppLocalizer.LABEL_SEARCH_FILTER</FluentText>

            <EditForm Model="Filter" OnValidSubmit="async () => await LoadAsync(true)">
                <FluentStack Orientation="Orientation.Vertical">
                    <FluentTextInput @bind-Value="Filter.SearchPhrase"
                                     Immediate="true"
                                     Label="@AppLocalizer.LABEL_SEARCHPHRASE"
                                     Placeholder="@Localizer.SEARCH_PHRASE_PLACEHOLDER"
                                     Autofocus />

                    <div class="d-flex justify-content-end mt-2 w-100">
                        <FluentButton Type="ButtonType.Submit"
                                      IconStart="@(new Icons.Regular.Size20.Search())"
                                      Appearance="ButtonAppearance.Primary">
                            @AppLocalizer.BUTTON_SEARCH
                        </FluentButton>
                    </div>
                </FluentStack>
            </EditForm>
        </FluentCard>
    </div>
    <div class="col-lg-9">
        <FluentStack Orientation="Orientation.Vertical" VerticalGap="@FluentConstants.FLUENTSTACK_VERTICAL_GAP">
            @if (_isLoading || Data is null)
            {
                <FluentSpinner />
            }
            else
            {
                @foreach (var item in Data.Items)
                {
                    <div class="list">
                        <div class="list-details">
                            <div class="list-item" hidden-when="xs sm">
                                <label>@AppLocalizer.LABEL_ID</label>
                                <span>@item.UserId</span>
                            </div>
                            <div class="list-item">
                                <label>@Localizer.LABEL_DISPLAY_NAME</label>
                                <span>@item.DisplayName</span>
                            </div>

                            <div class="list-item">
                                <label>@Localizer.LABEL_EMAIL</label>
                                <span>@item.Email</span>
                            </div>
                        </div>
                        <div class="list-buttons">
                            <FluentAnchorButton Href="@($"/Admin/Users/Edit?Id={item.GetIdentifier()}")">
                                @AppLocalizer.BUTTON_EDIT
                            </FluentAnchorButton>
                        </div>
                    </div>
                }

                @if (!_isLoading && !Data.Items.Any())
                {
                    <div class="list justify-content-center">
                        @AppLocalizer.NO_ENTRIES
                    </div>
                }

                <Pagination CurrentPageNumber="Page"
                            TotalItems="Data.Total"
                            ItemsPerPage="Filter.Limit"
                            NavUrl="/Admin/Users?page=" />

            }
        </FluentStack>
    </div>
</div>
