@page "/Admin/Users/Edit"
@inherits EditPageBase<User, UserRepository, int?>
<PageTitle>Benutzer (@Identifier)</PageTitle>

<FluentBreadcrumb>
    <FluentBreadcrumbItem Href="/">@AppLocalizer.BREADCRUMB_HOME</FluentBreadcrumbItem>
    <FluentBreadcrumbItem>@AppLocalizer.BREADCRUMB_ADMINISTRATION</FluentBreadcrumbItem>
    <FluentBreadcrumbItem Href="/Admin/Users">@Localizer.BREADCRUMB_LIST</FluentBreadcrumbItem>
    <FluentBreadcrumbItem>@Identifier</FluentBreadcrumbItem>
</FluentBreadcrumb>

@if (Input is null)
{
    return;
}

<FluentStack HorizontalAlignment="HorizontalAlignment.End">
    <FluentAnchor Href="/Admin/Users"
                  IconStart="@(new Icons.Regular.Size20.ArrowReply())">
        @AppLocalizer.BUTTON_BACK
    </FluentAnchor>


    <FluentButton id="btnOpen1" Appearance="ButtonAppearance.Outline" @onclick="@(() => _showOptionsMenu = !_showOptionsMenu)">
        @AppLocalizer.BUTTON_OPTIONS
    </FluentButton>

    <FluentMenu Anchor="btnOpen1" @bind-Open="_showOptionsMenu" VerticalThreshold="170">
        <FluentMenuItem @onclick="ShowDeleteModalAsync" Disabled="CurrentUser?.UserId == Input.UserId">@Localizer.BUTTON_DELETE_USER</FluentMenuItem>
    </FluentMenu>


    <FluentButton IconStart="@(new Icons.Regular.Size20.Save())"
                  Appearance="ButtonAppearance.Primary"
                  OnClick="SaveAsync">
        @AppLocalizer.BUTTON_SAVE
    </FluentButton>
</FluentStack>

<EditForm Model="Input" @ref="_form">
    @if (ActiveDirectoryMode)
    {
        <FluentMessageBar Title="Hinweis:" Intent="@MessageBarIntent.Warning" AllowDismiss="false" Class="mb-2 mt-2" FadeIn="false">
            @Localizer.MESSAGE_ACTIVE_DIRECTORY_CONNECTED_ACCOUNT
        </FluentMessageBar>
    }
    <FluentTabs>
        <FluentTab Label="@Localizer.TAB_GENERAL">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">

                        <div class="col-12">
                            <FluentField @bind-Value="Input.UserId" Label="@AppLocalizer.LABEL_ID" Disabled="true" />
                            <ValidationMessage For="() => Input.UserId" />
                        </div>

                        @if (ActiveDirectoryMode)
                        {
                            <div class="col-12">
                                <FluentField @bind-Value="Input.ActiveDirectoryGuid" Label="@Localizer.LABEL_ACTIVE_DIRECTORY_GUID" Disabled="true" />
                            </div>
                        }

                        <div class="col-12">
                            <FluentField @bind-Value="Input.Username" Label="@Localizer.LABEL_USERNAME" Disabled="ActiveDirectoryMode" />
                            <ValidationMessage For="() => Input.Username" />
                        </div>

                        <div class="col-12">
                            <FluentSelect @bind-SelectedOption="Input.UserGroupId"
                                          Label="@Localizer.LABEL_USER_GROUP"
                                          Items="Enum.GetValues<UserGroup>()"
                                          Disabled="ActiveDirectoryMode" />
                            <ValidationMessage For="() => Input.UserGroupId" />
                        </div>

                        <div class="col-12">
                            <FluentField @bind-Value="Input.DisplayName" Label="@Localizer.LABEL_DISPLAY_NAME" Disabled="ActiveDirectoryMode" />
                            <ValidationMessage For="() => Input.DisplayName" />
                        </div>

                        <div class="col-12">
                            <FluentField @bind-Value="Input.Email" Label="@Localizer.LABEL_EMAIL" Disabled="ActiveDirectoryMode" />
                            <ValidationMessage For="() => Input.Email" />
                        </div>

                    </div>
                </div>
            </div>
        </FluentTab>
    </FluentTabs>
</EditForm>


