@page "/Admin/FormStatus"
@inherits ManagementBasePage<FormStatus, FormStatusService>
@inject IStringLocalizer<App> appLocalizer

<PageTitle>FormStatusManagement</PageTitle>
<h3>FormStatusManagement</h3>

<div class="col-lg-3 col-sm-12 order-lg-3">
    <div class="card">
        <div class="card-header">
            <h4>@appLocalizer["FILTER_TITLE"]</h4>
        </div>
        <div class="card-content" style="padding: 0 1.3rem;">
            <EditForm Model="Filter" OnValidSubmit="async () => await LoadAsync(true)">
                <div class="form-floating mb-3">
                    <InputText @bind-Value="Filter.SearchPhrase" class="form-control" id="usermanagement-filter-searchphrase" placeholder="@appLocalizer["FILTER_PLACEHOLDER_SEARCHTERM"]" />
                    <label for="usermanagement-filter-searchphrase">@appLocalizer["FILTER_PLACEHOLDER_SEARCHTERM"]</label>
                </div>

                <div class="toolbar">
                    <button type="submit" class="btn btn-primary">@appLocalizer["FILTER_BUTTON_SEARCH"]</button>
                </div>

            </EditForm>
        </div>
    </div>
</div>
<div class="col-lg-9 col-sm-12">

    <div class="card">
        <div class="card-content">
            <!-- Table with no outer spacing -->
            <div class="table-responsive">
                <table class="table mb-0 table-lg">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Beschreibung</th>
                            <th class="text-right">Aktion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <Virtualize Items="Data" Context="item">
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.GetLocalization(CultureInfo.CurrentCulture).Name</td>
                                <td>@item.GetLocalization(CultureInfo.CurrentCulture).Description</td>
                                <td class="text-right">
                                    <span class="aktion-icon" role="button" @onclick="async () => await EditAsync(item)">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </span>
                                </td>
                            </tr>
                        </Virtualize>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>
