@inject AuthService authService
@inject IStringLocalizer<NavMenu> localizer
@if (_user is null)
{
    return;
}
<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon" />
    <label for="navmenu-toggle" class="navmenu-icon"><FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Fill" /></label>
    <nav class="sitenav" aria-labelledby="main-menu">
        <FluentNavMenu Id="main-menu" Collapsible="true" Width="250" Title="Navigation menu" @bind-Expanded="expanded" CustomToggle="true">
            <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.Home())" IconColor="Color.Accent">Home</FluentNavLink>


            <FluentNavGroup Title="@localizer["NAV_ADMIN"]" Icon="@(new Icons.Regular.Size20.Settings())">
                <FluentNavLink Href="/Admin/Users" Icon="@(new Icons.Regular.Size20.People())">@localizer["NAV_ADMIN_USERS"]</FluentNavLink>
                <FluentNavLink Href="/Admin/Status" Icon="@(new Icons.Regular.Size20.Check())">@localizer["NAV_ADMIN_STATUS"]</FluentNavLink>
                <FluentNavLink Href="/Admin/Forms" Icon="@(new Icons.Regular.Size20.Form())">@localizer["NAV_ADMIN_FORMS"]</FluentNavLink>
                <FluentNavLink Href="/Admin/Entries" Icon="@(new Icons.Regular.Size20.FolderOpen())">@localizer["NAV_ADMIN_FORM_ENTRIES"]</FluentNavLink>
            </FluentNavGroup>

            <AuthorizeView>
                <Authorized>
                    <FluentNavGroup Title="@localizer["NAV_ACCOUNT"]" Icon="@(new Icons.Regular.Size20.Person())">
                        <ChildContent>
                            <FluentNavLink Href="/Account/Entries" Icon="@(new Icons.Regular.Size20.Pen())">@localizer["NAV_ACCOUNT_ENTRIES"]</FluentNavLink>
                            <FluentNavLink Href="/Account/Assigned" Icon="@(new Icons.Regular.Size20.Send())">@localizer["NAV_ACCOUNT_ASSIGNED"]</FluentNavLink>
                            <FluentNavLink Href="/Account/Details" Icon="@(new Icons.Regular.Size20.ContactCard())">@localizer["NAV_ACCOUNT_DETAILS"]</FluentNavLink>
                            <FluentNavLink Href="/Account/Logout" Icon="@(new Icons.Regular.Size20.SignOut())" IconColor="Color.Accent">@localizer["NAV_ACCOUNT_LOGOUT"]</FluentNavLink>
                        </ChildContent>
                    </FluentNavGroup>
                </Authorized>
                <NotAuthorized>
                    <FluentNavLink Href="/Account/Login" Icon="@(new Icons.Regular.Size20.SignOut())" IconColor="Color.Accent">@localizer["NAV_ACCOUNT_LOGIN"]</FluentNavLink>
                </NotAuthorized>
            </AuthorizeView>
        </FluentNavMenu>
    </nav>
</div>

@code {
    private bool expanded = true;
    private User? _user;
    protected override async Task OnInitializedAsync()
    {
        _user = await authService.GetUserAsync();
    }
}

