@inject NotificationService notificationService
@using BlazorForms.Core.Extensions
<div class="notification">
    @if (!string.IsNullOrWhiteSpace(Item.Icon))
    {
        <div class="notification-icon">
            <i class="@Item.Icon"></i>
        </div>
    }

    <a class="notification-details" href="@Item.Href">
        <div class="notification-title text-muted">@Item.Title</div>
        <div class="notification-details">@((MarkupString)Item.Details.Nl2Br())</div>
        <div class="notification-timestamp">@Item.Created.GetElapsedTimeString()</div>
    </a>
    <Button Color="ButtonColor.None" @onclick="DeleteAsync">
        <Icon Name="IconName.X" Size="IconSize.x5" />
    </Button>
</div>



