@page "/Admin/Forms"
@page "/Admin/Forms/{Page:int}"
@attribute [Authorize(Roles = Roles.EDIT_FORMS)]
@inject FormService formService
@inject IDbProviderService dbProviderService
@inject NavigationManager navigationManager
@inject AuthService authService
@inject IJSRuntime jsRuntime
@inject IStringLocalizer<App> appLocalizer
@inject IStringLocalizer<FormListing> localizer

<PageTitle>@localizer["PAGETITLE"]</PageTitle>
<h3>@localizer["PAGETITLE"]</h3>

<div class="toolbar">
    <a role="button" class="btn btn-success" href="/Admin/FormEditor"><i class="fa-solid fa-plus"></i></a>
</div>

<div class="col-lg-3 col-sm-12 order-lg-3">
    <div class="card">
        <div class="card-header">
            <h4>@appLocalizer["FILTER_TITLE"]</h4>
        </div>
        <div class="card-content" style="padding: 0 1.3rem;">
            <EditForm Model="Filter" OnValidSubmit="async () => await LoadAsync(true)">
                <div class="form-floating mb-3">
                    <InputText @bind-Value="Filter.SearchPhrase" class="form-control" id="form-filter-searchphrase" placeholder="@appLocalizer["FILTER_PLACEHOLDER_SEARCHTERM"]" />
                    <label for="form-filter-searchphrase">@appLocalizer["FILTER_PLACEHOLDER_SEARCHTERM"]</label>
                </div>

                <div class="toolbar">
                    <button type="submit" class="btn btn-primary">@appLocalizer["FILTER_BUTTON_SEARCH"]</button>
                </div>

            </EditForm>
        </div>
    </div>
</div>
<div class="col-lg-9 col-sm-12">

    <div class="card">
        <div class="card-content">
            <!-- Table with no outer spacing -->
            <div class="table-responsive">
                <table class="table mb-0 table-lg">
                    <thead>
                        <tr>
                            <th>@localizer["TH_ID"]</th>
                            <th>@localizer["TH_NAME"]</th>
                            <th>@localizer["TH_ACTIVE"]</th>
                            <th>@localizer["TH_LOGIN_REQUIRED"]</th>
                            <th class="text-right">@localizer["TH_ACTION"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <Virtualize Items="Data" Context="item">
                            <tr>
                                <td>@item.FormId</td>
                                <td>@item.Name</td>
                                <td>@item.IsActive</td>
                                <td>@item.IsOnlyAvailableForLoggedInUsers</td>
                                <td class="text-right text-nowrap">
                                    @if (UserCanDeleteForms)
                                    {
                                        <button type="button" class="btn btn-danger me-1" @onclick="() => SelectedForDeletion = item"><i class="fa-solid fa-trash"></i></button>
                                    }
                                    <a class="btn btn-primary" href="/Admin/FormEditor/@item.FormId"><i class="fa-solid fa-edit"></i></a>
                                </td>
                            </tr>
                        </Virtualize>

                        @if (!Data.Any())
                        {
                            <tr>
                                <td colspan="5" class="text-center">@localizer["TABLE_NO_ENTRIES"]</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>

    </div>

    <Pagination CurrentPageNumber="Page"
                ItemsPerPage="Filter.Limit"
                TotalItems="TotalItems"
                NavUrl="/Admin/Forms/" />
</div>

@if (SelectedForDeletion is not null)
{
    <ConfirmModal Title="@localizer["MODAL_DELETE_TITLE"]"
                  OnClosed="() => SelectedForDeletion = null"
                  OnConfirmed="DeleteAsync">
        <p>@String.Format(localizer["MODAL_DELETE_TEXT"], SelectedForDeletion.Name)</p>
    </ConfirmModal>
}