@page "/Admin/Status/Create"
@inherits CreatePageBase<FormStatus, FormStatusRepository, int?>

<PageTitle>@Localizer.CREATE_PAGE_TITLE</PageTitle>

@if (Input is null)
{
    return;
}

<FluentStack HorizontalAlignment="HorizontalAlignment.End">
    <FluentAnchorButton Href="/Admin/Status"
                  IconStart="@(new Icons.Regular.Size20.ArrowReply())">
        @AppLocalizer.BUTTON_BACK
    </FluentAnchorButton>

    <FluentButton IconStart="@(new Icons.Regular.Size20.Save())"
                  Appearance="ButtonAppearance.Primary"
                  OnClick="SaveAsync">
        @AppLocalizer.BUTTON_SAVE
    </FluentButton>
</FluentStack>

<EditForm Model="Input" @ref="_form">
    <div class="row">
        <div class="col-md-9">
            <FluentTabs>
                @foreach (var item in Input.Descriptions)
                {
                    <FluentTab Header="@(item.ToCulture().NativeName)">
                        <FluentField @bind-Value="item.Name" Label="@Localizer.LABEL_NAME" />
                        <FluentTextArea @bind-Value="item.Description" Label="@Localizer.LABEL_DESCRIPTION" Height="150px" />
                    </FluentTab>
                }
            </FluentTabs>
        </div>
        <div class="col-md-3">
            <FluentStack Orientation="Orientation.Vertical">
                <FluentSwitch @bind-Value="Input.RequiresApproval" Label="@Localizer.LABEL_REQUIRES_APPROVAL" />
                <FluentSwitch @bind-Value="Input.IsCompleted" Label="@Localizer.LABEL_IS_COMPLETE" />

                <label for="sort-order" class="fluent-input-label">@Localizer.LABEL_SORT_ORDER</label>
                <InputNumber @bind-Value="Input.SortOrder" id="sort-order" class="fluent-control" />
            </FluentStack>
        </div>
    </div>
</EditForm>

