@page "/Admin/Status/Edit"
@inherits EditPageBase<FormStatus, FormStatusRepository, int?>
<PageTitle>Status (@Identifier)</PageTitle>

<FluentBreadcrumb>
    <FluentBreadcrumbItem Href="/">@AppLocalizer.BREADCRUMB_HOME</FluentBreadcrumbItem>
    <FluentBreadcrumbItem>@AppLocalizer.BREADCRUMB_ADMINISTRATION</FluentBreadcrumbItem>
    <FluentBreadcrumbItem Href="/Admin/Status">@Localizer.BREADCRUMB_LIST</FluentBreadcrumbItem>
    <FluentBreadcrumbItem>@Identifier</FluentBreadcrumbItem>
</FluentBreadcrumb>

@if (Input is null)
{
    return;
}

<FluentStack HorizontalAlignment="HorizontalAlignment.End">
    <FluentAnchor Href="/Admin/Status"
                  IconStart="@(new Icons.Regular.Size20.ArrowReply())">
        @AppLocalizer.BUTTON_BACK
    </FluentAnchor>

    <FluentButton id="btnOpen1" Appearance="Appearance.Accent" @onclick="@(() => _showOptionsMenu = !_showOptionsMenu)">
        @AppLocalizer.BUTTON_OPTIONS
    </FluentButton>

    <FluentMenu Anchor="btnOpen1" @bind-Open="_showOptionsMenu" VerticalThreshold="170">
        <FluentMenuItem @onclick="ShowDeleteModalAsync">@Localizer.BUTTON_DELETE_STATUS</FluentMenuItem>
    </FluentMenu>

    <FluentButton IconStart="@(new Icons.Regular.Size20.Save())"
                  Appearance="Appearance.Accent"
                  OnClick="SaveAsync">
        @AppLocalizer.BUTTON_SAVE
    </FluentButton>
</FluentStack>

<EditForm Model="Input" @ref="_form">
    <div class="row">
        <div class="col-md-9">
            <FluentTextField Value="@Input.StatusId.ToString()" Label="@AppLocalizer.LABEL_ID" ReadOnly />

            <FluentTabs>
                @foreach (var item in Input.Descriptions)
                {
                    <FluentTab Label="@(item.ToCulture().NativeName)">
                        <FluentTextField @bind-Value="item.Name" Label="@Localizer.LABEL_NAME" />
                        <FluentTextArea @bind-Value="item.Description" Label="@Localizer.LABEL_DESCRIPTION" Rows="3" />
                    </FluentTab>
                }
            </FluentTabs>
        </div>
        <div class="col-md-3">
            <FluentStack Orientation="Orientation.Vertical">
                <FluentSwitch @bind-Value="Input.RequiresApproval" Label="@Localizer.LABEL_REQUIRES_APPROVAL" />
                <FluentSwitch @bind-Value="Input.IsCompleted" Label="@Localizer.LABEL_IS_COMPLETE" />

                <label for="sort-order" class="fluent-input-label">@Localizer.LABEL_SORT_ORDER</label>
                <InputNumber @bind-Value="Input.SortOrder" id="sort-order" class="fluent-control" />
            </FluentStack>
        </div>
    </div>
</EditForm>
