@page "/Admin/Users"
@inject AuthService authService
@inherits ManagementBasePage<User, UserService>
@attribute [Authorize(Roles = Roles.EDIT_USERS)]
@inject IStringLocalizer<App> appLocalizer
@inject IStringLocalizer<UserManagement> localizer
<PageTitle>@localizer["PAGETITLE"]</PageTitle>


@if (Input is null)
{
    <h3>@localizer["PAGETITLE"]</h3>

    <div class="toolbar">
        <Tooltip Title="@localizer["TOOLTIP_NEW_USER"]">
            <Button Color="ButtonColor.Success" @onclick="NewAsync"><Icon Name="IconName.Plus" Size="IconSize.x5" /></Button>
        </Tooltip>
    </div>

    <div class="row">
        <div class="col-lg-3 col-sm-12 order-lg-3">
            <div class="card">
                <div class="card-header">
                    <h4>@appLocalizer["FILTER_TITLE"]</h4>
                </div>
                <div class="card-content" style="padding: 0 1.3rem;">
                    <EditForm Model="Filter" OnValidSubmit="async () => await LoadAsync(true)">
                        <div class="form-floating mb-3">
                            <InputText @bind-Value="Filter.SearchPhrase" class="form-control" id="usermanagement-filter-searchphrase" placeholder="@appLocalizer["FILTER_PLACEHOLDER_SEARCHTERM"]" />
                            <label for="usermanagement-filter-searchphrase">@appLocalizer["FILTER_PLACEHOLDER_SEARCHTERM"]</label>
                        </div>

                        <div class="toolbar">
                            <button type="submit" class="btn btn-primary">@appLocalizer["FILTER_BUTTON_SEARCH"]</button>
                        </div>

                    </EditForm>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-sm-12">

            <div class="card">
                <div class="card-content">
                    <!-- Table with no outer spacing -->
                    <div class="table-responsive">
                        <table class="table mb-0 align-middle">
                            <thead>
                                <tr>
                                    <th>@localizer["TH_USERS_NAME"]</th>
                                    <th>@localizer["TH_USERS_USERNAME"]</th>
                                    <th>@localizer["TH_USERS_EMAIL"]</th>
                                    <th class="text-right">@localizer["TH_USERS_ACTION"]</th>
                                </tr>
                            </thead>
                            <tbody>
                                <Virtualize Items="Data" Context="user">
                                    <tr>
                                        <td>@user.DisplayName</td>
                                        <td>@user.Username</td>
                                        <td>@user.Email</td>
                                        <td class="text-right">
                                            @if (user.Origin is "local" && _loggedInUser?.Id != user.Id)
                                            {
                                                <Button Color="ButtonColor.Danger" @onclick="() => SelectedForDeletion = user" class="me-1"><Icon Name="IconName.Trash" Size="IconSize.x5" /></Button>
                                            }

                                            <Button Color="ButtonColor.Primary" @onclick="async () => await EditAsync(user)"><Icon Name="IconName.PencilSquare" Size="IconSize.x5" /></Button>
                                        </td>
                                    </tr>
                                </Virtualize>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>
}
else
{
    <h3>@String.Format(localizer["MODAL_EDIT_TITLE"], Input.DisplayName)</h3>
    <EditForm Model="Input" @ref="_form">
        <FluentValidationValidator />
        <ValidationSummary />
        <div class="row">
            <div class="col-12">
                @if (Input.Origin is "local")
                {
                    <div class="form-floating mb-3">
                        <InputText @bind-Value="Input.Username" class="form-control" id="user-username" placeholder="@localizer["INPUT_USERNAME"]" />
                        <label for="user-username">@localizer["INPUT_USERNAME"]</label>
                        <ValidationMessage For="() => Input.Username" />
                    </div>

                    <div class="form-floating mb-3">
                        <InputText @bind-Value="Input.DisplayName" class="form-control" id="user-displayname" placeholder="@localizer["INPUT_DISPLAYNAME"]" />
                        <label for="user-displayname">@localizer["INPUT_DISPLAYNAME"]</label>
                        <ValidationMessage For="() => Input.DisplayName" />
                    </div>

                    <div class="form-floating mb-3">
                        <InputText @bind-Value="Input.Email" class="form-control" id="user-email" placeholder="@localizer["INPUT_EMAIL"]" type="email" />
                        <label for="user-email">@localizer["INPUT_EMAIL"]</label>
                        <ValidationMessage For="() => Input.Email" />
                    </div>

                    @if (Input.UserId is 0)
                    {
                        <div class="form-floating mb-3">
                            <InputText @bind-Value="Input.Password" class="form-control" id="user-password" placeholder="@localizer["INPUT_PASSWORD"]" type="password" />
                            <label for="user-password">@localizer["INPUT_PASSWORD"]</label>
                            <ValidationMessage For="() => Input.Password" />
                        </div>
                    }
                }



                <h4>@localizer["HEADING_PERMISSIONS"]</h4>

                @if (_loggedInUser is not null && Input.UserId == _loggedInUser.UserId)
                {
                    <Alert Color="AlertColor.Danger">@localizer["TEXT_OWN_PERMISSIONS"]</Alert>
                }
                else
                {
                    <div class="table-responsive">
                        <table class="table table-lg">
                            <thead>
                                <tr>
                                    <th>@localizer["TH_PERMISSIONS_NAME"]</th>
                                    <th>@localizer["TH_PERMISSIONS_DESCRIPTION"]</th>
                                    <th class="text-right">@localizer["TH_PERMISSIONS_ACTION"]</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var permission in Input.Permissions)
                                {
                                    var description = permission.GetLocalization(CultureInfo.CurrentCulture);
                                    <tr>
                                        <td class="text-bold-500">@description?.Name</td>
                                        <td>@description?.Description</td>
                                        <td class="text-right">
                                            <Button Color="ButtonColor.Danger" @onclick="() => Input.Permissions.Remove(permission)"><Icon Name="IconName.Trash" Size="IconSize.x5" /></Button>
                                        </td>
                                    </tr>
                                }

                                @if (Input.Permissions.Count != AppdatenService.Permissions.Count)
                                {
                                    <tr>
                                        <td colspan="3">
                                            <div class="input-group">
                                                <select @onchange="PermissionSelectionChangedAsync" class="form-select" id="inputGroupSelect04" aria-label="Berechtigung">
                                                    @if (SelectedPermission is null)
                                                    {
                                                        <option value="0" selected>@appLocalizer["SELECT_CHOOSE"]</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="0">@appLocalizer["SELECT_CHOOSE"]</option>
                                                    }

                                                    @foreach (var permission in AppdatenService.Permissions)
                                                    {
                                                        var userberechtigung = Input.Permissions.FirstOrDefault(x => x.PermissionId == permission.PermissionId);
                                                        var description = permission.GetLocalization(CultureInfo.CurrentCulture);
                                                        @if (userberechtigung is null)
                                                        {
                                                            <option value="@permission.PermissionId">@description?.Name</option>
                                                        }
                                                    }
                                                </select>

                                                <Button Color="ButtonColor.Success" @onclick="AddPermissionAsync" Disabled="@(SelectedPermission is null)"><Icon Name="IconName.Plus" Size="IconSize.x5" /></Button>
                                            </div>
                                        </td>

                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </EditForm>

    <div class="toolbar">
        <button type="button" class="btn btn-danger" @onclick="() => Input = null">@appLocalizer["BUTTON_TEXT_CANCEL"]</button>
        <button type="button" class="btn btn-success" @onclick="SaveAsync">@appLocalizer["BUTTON_TEXT_SAVE"]</button>
    </div>
}

@if (SelectedForDeletion is not null)
{
    <ConfirmModal Title="@localizer["MODAL_DELETE_TITLE"]"
                  OnClosed="() => SelectedForDeletion = null"
                  OnConfirmed="DeleteAsync">
        <p>@String.Format(localizer["MODAL_DELETE_TEXT"], SelectedForDeletion.DisplayName)</p>
    </ConfirmModal>
}


