@inherits BlazorFormsComponentBase
@inject FormEntryStatusChangeService entryStatusService
@inject IStringLocalizer<EntryHistory> localizer
<div class="table-responsive-md">
    <table class="@TableClass">
        <thead>
            <tr>
                <th>@localizer["TH_DATE"]</th>
                <th>@localizer["TH_STATUS"]</th>
                <th>@localizer["TH_USER"]</th>
                <th>@localizer["TH_COMMENT"]</th>
            </tr>
        </thead>
        <tbody>
            <Virtualize Items="History" Context="change">
                @{
                    var status_description = Storage.Get<FormStatus, int?>(change.StatusId)?.GetLocalization(CultureInfo.CurrentCulture);
                }
                <tr>
                    <td>@change.DateAdded</td>
                    <td>@status_description?.Name</td>
                    <td>@change.Username</td>
                    <td>@((MarkupString)change.Comment.Nl2Br())</td>
                </tr>
            </Virtualize>



            @if (_isLoading)
            {
                <tr>
                    <td colspan="4" class="text-center">
                        <LoadingCircle IsCentered="true" />
                    </td>
                </tr>
            }
            else if (!History.Any())
            {
                <tr>
                    <td colspan="4" class="text-center">
                        @localizer["NO_HISTORY"]
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
