@inject IBlazorDownloadFileService downloadService
@if (Files.Any())
{
    <h2>Dateien</h2>
    <div class="file-wrapper">
        @foreach (var file in Files)
        {
            <div class="file">
                <div class="file-icon">
                    @if (IsImage(file))
                    {
                        <img class="file-image" src="@GetBase64Image(file)" />
                    }
                    else
                    {

                        <i class="@($"bi {GetFileIcon(file.Filename)} file-icon fs-5")"></i>
                    }

                </div>
                <div class="file-details">
                    @file.Filename
                </div>

                <button type="button" class="btn file-options" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="@file.GetHashCode()"><i class="bi bi-three-dots-vertical"></i></button>
                <ul class="dropdown-menu" aria-labelledby="@file.GetHashCode()">

                    <li class="dropdown-item" role="button" @onclick="async () => await DeleteAsync(file)"><i class="bi bi-trash text-danger"></i> Löschen</li>
                    <li class="dropdown-item" role="button" @onclick="async () => await DownloadAsync(file)"><i class="bi bi-download text-primary"></i> Herunterladen</li>
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-item">Größe: @ToHumanReadableFileSize(file.Data)</li>
                </ul>
            </div>
        }
    </div>
}