@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@inject AuthService authService
@using System.Runtime.InteropServices

<PageTitle>BlazorForms</PageTitle>


<div class="bb-page">

    <Sidebar @ref="_sidebar"
             Title="BlazorForms"
             BadgeText="@($"v{Program.GetVersion()}")"
             DataProvider="SidebarDataProvider" />


    <main>
        <article class="content px-4">
            <div class="py-2">
                @Body
            </div>
        </article>

        <footer class="px-4 text-muted">


            <p>
                Entwickelt mit <span class="text-danger"><Icon Name="IconName.HeartFill" /></span> by Marvin Klein
            </p>

            <p class="text-center">
                Ver. @Program.GetVersion()
                <div>@RuntimeInformation.FrameworkDescription / @RuntimeInformation.ProcessArchitecture</div>
            </p>

            <p class="text-right">
                @DateTime.Now.Year &copy; Marvin Klein
            </p>


        </footer>
    </main>
</div>









