@page "/Admin/Status"
@attribute [Authorize(Roles = Roles.EDIT_STATUS)]
@inherits ManagementBasePage<FormStatus, int?, FormStatusService>
@inject IStringLocalizer<FormStatusManagement> localizer

<PageTitle>@localizer["PAGETITLE"]</PageTitle>

@if (Input is null)
{
    <h3>@localizer["PAGETITLE"]</h3>

    <div class="toolbar">
        <Tooltip Title="@localizer["tooltip_new"]">
            <Button Color="ButtonColor.Success" @onclick="NewAsync"><Icon Name="IconName.Plus" Size="IconSize.x5" /></Button>
        </Tooltip>
    </div>

    <div class="row">
        <div class="col-12">

            <div class="card">
                <div class="card-content">
                    <!-- Table with no outer spacing -->
                    <div class="table-responsive">
                        <table class="table mb-0 align-middle">
                            <thead>
                                <tr>
                                    <th>@localizer["TH_ID"]</th>
                                    <th>@localizer["TH_NAME"]</th>
                                    <th>@localizer["TH_DESCRIPTION"]</th>
                                    <th class="text-right">@localizer["TH_ACTION"]</th>
                                </tr>
                            </thead>
                            <tbody>
                                <Virtualize Items="Data" Context="item">
                                    @{
                                        var description = item.GetLocalization(CultureInfo.CurrentCulture);
                                    }

                                    <tr>
                                        <td>@item.StatusId</td>
                                        <td>@description?.Name</td>
                                        <td>@description?.Description</td>
                                        <td class="text-right">
                                            <Button Color="ButtonColor.Danger" @onclick="async () => await ShowDeleteModalAsync(item)"><Icon Name="IconName.Trash" Size="IconSize.x5" /></Button>
                                            <Button Color="ButtonColor.Primary" @onclick="async () => await EditAsync(item)"><Icon Name="IconName.PencilSquare" Size="IconSize.x5" /></Button>
                                        </td>
                                    </tr>
                                </Virtualize>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>
}
else
{
    <h3>@localizer["EDIT_TITLE"]</h3>
    <EditForm Model="Input" @ref="_form">
        <FluentValidationValidator />
        <ValidationSummary />
        <div class="row">
            <div class="col-12">
                <Tabs EnableFadeEffect="false" NavStyle="NavStyle.Pills" class="mb-1">
                    @foreach (var item in Input.Description)
                    {
                        <Tab Title="@(item.ToCulture().NativeName)">
                            <Content>
                                <div class="form-floating mb-3">
                                    <InputText @bind-Value="item.Name" class="form-control" id="@($"status-name-{item.Code}")" placeholder="@localizer["INPUT_NAME"]" />
                                    <label for="status-name-@item.Code">@localizer["INPUT_NAME"]</label>
                                    <ValidationMessage For="() => item.Name" />
                                </div>

                                <div class="form-floating mb-3">
                                    <InputTextArea @bind-Value="item.Description" class="form-control" id="@($"status-beschreibung-{item.Code}")" placeholder="@localizer["INPUT_DESCRIPTION"]" />
                                    <label for="status-beschreibung-@item.Code">@localizer["INPUT_DESCRIPTION"]</label>
                                    <ValidationMessage For="() => item.Description" />
                                </div>
                            </Content>
                        </Tab>
                    }
                </Tabs>

                <div class="form-floating mb-3">
                    <InputNumber @bind-Value="Input.SortOrder" class="form-control" id="status-order" placeholder="@localizer["INPUT_SORT"]" />
                    <label for="status-order">@localizer["INPUT_SORT"]</label>
                    <ValidationMessage For="() => Input.SortOrder" />
                </div>

                <div class="form-check">
                    <div class="checkbox">
                        <InputCheckbox @bind-Value="Input.RequiresApproval" id="status-approval" class="form-check-input" />
                        <label for="status-approval">@localizer["INPUT_APPROVAL"]</label>
                        <ValidationMessage For="() => Input.RequiresApproval" />
                    </div>
                </div>

                <div class="form-check">
                    <div class="checkbox">
                        <InputCheckbox @bind-Value="Input.IsCompleted" id="status-completed" class="form-check-input" />
                        <label for="status-completed">@localizer["INPUT_COMPLETED"]</label>
                        <ValidationMessage For="() => Input.IsCompleted" />
                    </div>
                </div>

            </div>
        </div>
    </EditForm>

    <div class="toolbar">
        <Button Color="ButtonColor.Danger" @onclick="() => Input = null">@AppLocalizer["BUTTON_TEXT_CANCEL"]</Button>
        <Button Color="ButtonColor.Success" @onclick="SaveAsync">@AppLocalizer["BUTTON_TEXT_SAVE"]</Button>
    </div>
}