@implements IDisposable

@inject NavigationManager NavigationManager

<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon" />
    <label for="navmenu-toggle" class="navmenu-icon"><FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Fill" /></label>
    <nav class="sitenav" aria-labelledby="main-menu">
        <FluentNavMenu Id="main-menu" Collapsible="true" Width="250" Title="Navigation menu" @bind-Expanded="expanded" CustomToggle="true">
            <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.Home())" IconColor="Color.Accent">Dashboard</FluentNavLink>
            <AuthorizeView>
                <FluentNavLink Match="NavLinkMatch.All" Href="/Account/Entries" Icon="@(new Icons.Regular.Size20.Pen())">Meine Formulare</FluentNavLink>
                <FluentNavLink Match="NavLinkMatch.All" Href="/Account/Assigned" Icon="@(new Icons.Regular.Size20.Send())">Mir zugeordnet</FluentNavLink>
            </AuthorizeView>
            <AuthorizeView Roles="@AuthConstants.ADMIN_ROLE">
                <FluentNavGroup Title="Administration" Icon="@(new Icons.Regular.Size20.ContentSettings())">
                    <ChildContent>
                        <FluentNavLink Match="NavLinkMatch.All" Href="/Admin/Users" Icon="@(new Icons.Regular.Size20.DatabasePerson())">Benutzerverwaltung</FluentNavLink>
                        <FluentNavLink Match="NavLinkMatch.All" Href="/Admin/Status" Icon="@(new Icons.Regular.Size20.CheckboxCheckedSync())">Statusverwaltung</FluentNavLink>
                        <FluentNavLink Match="NavLinkMatch.All" Href="/Admin/Forms" Icon="@(new Icons.Regular.Size20.FormMultiple())">Formulare</FluentNavLink>
                        <FluentNavLink Match="NavLinkMatch.All" Href="/Admin/Entries" Icon="@(new Icons.Regular.Size20.DocumentFolder())">Formulareinträge</FluentNavLink>
                    </ChildContent>
                </FluentNavGroup>
            </AuthorizeView>
            <AuthorizeView>
                <Authorized>
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <FluentButton Type="ButtonType.Submit" Style="width: 100%;">Logout</FluentButton>
                    </form>
                </Authorized>
                <NotAuthorized>
                    <FluentNavLink Href="Account/Login">Login</FluentNavLink>
                </NotAuthorized>
            </AuthorizeView>
        </FluentNavMenu>
    </nav>
</div>

@code {
    private bool expanded = true;
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
