@if (Item.ChildItems.Any())
{
    @if (!string.IsNullOrEmpty(Item.Role))
    {
        <AuthorizeView Roles="@Item.Role">
            <Authorized>
                @NavGroupTemplate
            </Authorized>
        </AuthorizeView>
    }
    else
    {
        @NavGroupTemplate
    }
}
else
{
    <a href="@Item.Href" class="nav-link">@Item.Text</a>
}

@code {
    [Parameter, EditorRequired]
    public NavItem Item { get; set; }

    private bool _isExpanded;

    private RenderFragment NavGroupTemplate => __builder =>
    {
        <a href="@Item.Href" class="nav-link" @onclick="() => _isExpanded = !_isExpanded">@Item.Text</a>
        @if (_isExpanded)
        {

            @foreach (var item in Item.ChildItems)
            {
                <NavMenuItem Item="item" />
            }
        }
    };
}
